<%= form_for @user, class: "form-horizontal" do |form| %>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Register New User</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <%= form.label :name %>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <%= form.text_field :name, type: 'string', class: "form-control", placeholder: "Name", autofocus: true %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <%= form.label :email %>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                    <%= form.text_field :email, type: 'email', class: "form-control", placeholder: "you@example.com", autofocus:true %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <%= form.label :password %>
        </div>
        <div class="col-md-6">
            <div class="form-group has-danger">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                    <%= form.password_field :password, class: "form-control", placeholder: "Password", required: true %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <%= button_tag type: 'submit', class: "btn btn-success" do %>
              <i class="fa fa-user-plus"></i>
              Register
            <% end %>
            <%= link_to new_session_path, class: "btn btn-primary" do%>
               <i class="fa fa-sign-in"></i>
               Sign in
            <% end %>
        </div>
    </div>
<% end %>